{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>捐助</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" />
    <body>
        <center>
            <div class="show">
                <h1 style="color: #009688;">捐助</h1>
                <div class="show">
                    <img src="{% static 'img/wx.png' %}" width="100%">
                </div>
                <div class="show">
                    <img src="{% static 'img/ali.jpg' %}" width="100%">
                </div>
                <div class="show">
                    <p style="color: #1678ff;">如果您觉得好用，可以捐助哦</p>
                    <p style="color: #1678ff;">金额任意，这将是莫大的支持</p>
                </div>
                <div class="show">
                    <p>捐助列表</p>
                    <p>*琳 ¥1</p>
                </div>
            </div>
        </center>
    </body>
</html>