{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>帮助</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" />
</head>

<body>
    <center>
        <div class="show">
            <div class="show">
                <h1 style="color: #009688;">点击获取网址</h1>
                <br>
                <img src="{% static 'img/1.png' %}" width="100%">
            </div>
            <div class="show">
                <h1 style="color: #009688;">找到所属的团组织</h1>
                <br>
                <img src="{% static 'img/2.png' %}" width="100%">
            </div>
            <div class="show">
                <h1 style="color: red;">关键：选择全员完成的一期</h1>
                <br>
                <img src="{% static 'img/3.png' %}" width="100%">
            </div>
            <div class="show">
                <h1 style="color: #009688;">找到学习结果页面</h1>
                <br>
                <img src="{% static 'img/4.png' %}" width="100%">
            </div>
            <div class="show">
                <h1 style="color: #009688;">复制网址并粘贴</h1>
                <br>
                <img src="{% static 'img/5.png' %}" width="100%">
            </div>
            <div class="show">
                <h1 style="color: #009688;">点击提交，获得二维码</h1>
                <br>
                <img src="{% static 'img/6.png' %}" width="100%">
            </div>
            <div class="show">
                <h1 style="color: #009688;">之后扫描二维码即可查看结果</h1>
                <br>
                <img src="{% static 'img/7.png' %}" width="100%">
            </div>
        </div>
    </center>
</body>

</html>